.header{
    display: flex;
    border: 1px solid black;
    
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
   
    
}

.brand-name {
  color: red;
  font-family: 'Pacifico', cursive; /* Or any font you like */
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
  /* padding-bottom: 20px */
}

.img{
    height: 75px;
    width: 75px;
     /* margin-bottom: 20px */
}

.nav{
   margin: auto 0 auto auto; 
    padding-right: 20px;
}

.nav-items{
    display: flex;
    list-style-type: none; /* removes the bullet points */
   gap: 20px;

    
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap; /* allows wrapping to next line */
    gap: 20px; /* space between cards */
    justify-content: center;  /* centers the cards horizontally */
    padding: 20px;
}

.card{
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover{
     border: 1px solid black;
}

.card-img{
    height: 200px;
    width: 100%;  /* important to keep it 100% */
    border-radius: 10px;
    object-fit: cover;
} 

.btn-filter{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}
.btn-filter:hover{
    background-color: darkred;
    border: 1px solid black;
}